<h1>Surveys</h1>

<% if @surveys.any? %>
  <ul>
    <% @surveys.each do |survey| %>
      <li><%= link_to survey.name, survey_path(survey) %></li>
    <% end %>
  </ul>
<% else %>
<p>There are no surveys to show.</p>
<% end %>

<p><%= link_to "Create a new Survey", new_survey_path%></p>